@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#cover-spin {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(237, 237, 237, 0.7);
  z-index: 9999;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: rgba(92, 85, 185, 0.7);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.loader {
  width: 30px;
  height: 30px;
  border: 5px dotted #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

select:hover option:hover {
  background-color: rgb(0, 0, 0);
}

.card,
.invoice {
  position: relative;
  overflow: hidden;
}

.card::before,
.invoice::before {
  content: "";
  background-color: #ffffff1e;
  position: absolute;
  width: 91px;
  height: 92px;
  top: -20px;
  border: 1px solid #ffffff12;
  right: -20px;
  border-radius: 50%;
}

.card::after,
.invoice::after {
  content: "";
  background-color: #ffffff1e;
  position: absolute;
  width: 150px;
  height: 150px;
  top: 20px;
  right: -20px;
  border-radius: 50%;
  border: 1px solid #ffffff12;
}

.card:first-child {
  background: linear-gradient(45deg, #3ec6ff, #081576);
}

.card:nth-child(2) {
  background: linear-gradient(45deg, #b14b4b, #f87fe0);
}
.card:nth-child(3) {
  background: linear-gradient(45deg, #bf4d4d, #f87f7f);
}

.card:last-child {
  background: linear-gradient(45deg, #f1a056, #eb2f2f);
}

.success {
  background: linear-gradient(70deg, #00ff4f5c, #006a2e);
}

.pending {
  background: linear-gradient(70deg, #ffb66c, #ff6c00);
}

.font {
  font-family: "Poppins", sans-serif;
}
.ag-header-cell-text {
  color: rgb(90 81 190 / var(--tw-bg-opacity)) !important;
}
/* .ag-header-viewport {
  background-color: rgb(
    90 81 190 / var(--tw-bg-opacity)
  ); 
  color: white; 
  &:hover {
    background-color: rgb(90 81 190 / var(--tw-bg-opacity));
  }
} */
.ag-theme-alpine {
  border-radius: 2px;
  overflow: hidden;
}
.custom-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: capitalize;
}
.centered-cell {
  text-align: center;
}
.ag-cell {
  /* animation: animate .9s linear infinite alternate; */
  font-size: 9.5pt !important;
  color: rgb(34, 34, 34);
}

/* @keyframes animate {
  0%{background-color: #f56464;}
  100%{background-color: transparent;}
} */

.ag-icon-menu {
  color: white;
}

#myAgGrid .ag-header-group-cell-label,
.ag-header-cell-label {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  text-overflow: ellipsis;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;
  text-align: center; /* Center the text within the header cell */
}

.ag-cell {
  font-size: 10pt;
}

.badge {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.badge::before,
.badge::after {
  position: absolute;
  /* z-index: -1; */
  content: "";
  display: block;
  border: 5px solid #e9e9e9;
}

.badge span {
  width: 225px;
  padding: 15px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font: 700 18px/1 "Lato", sans-serif;
}

/* in alto a destra */
.badge-top-right {
  top: -10px;
  right: -10px;
}

.badge-top-right::before,
.badge-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.badge-top-right::before {
  top: 0;
  left: 0;
}

.badge-top-right::after {
  bottom: 0;
  right: 0;
}

.badge-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}
.scroller::-webkit-scrollbar {
  width: 2px;
  height: 10px;
}
.scroller::-webkit-scrollbar-track {
  background-color: rgb(243, 243, 243);
}
.section::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
